<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yilin.trade.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="com.yilin.trade.model.domain.User">
            <id property="uid" column="uid" jdbcType="BIGINT"/>
            <result property="userName" column="userName" jdbcType="VARCHAR"/>
            <result property="passWord" column="passWord" jdbcType="VARCHAR"/>
            <result property="phone" column="phone" jdbcType="VARCHAR"/>
            <result property="userCredit" column="userCredit" jdbcType="INTEGER"/>
            <result property="userStatus" column="userStatus" jdbcType="TINYINT"/>
            <result property="userRole" column="userRole" jdbcType="TINYINT"/>
            <result property="createTime" column="createTime" jdbcType="VARCHAR"/>
            <result property="updateTime" column="updateTime" jdbcType="VARCHAR"/>
            <result property="isDeleted" column="isDeleted" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        uid,userName,passWord,
        phone,userCredit,userStatus,
        userRole,creatTime,updateTime,
        isDeleted
    </sql>
</mapper>
